<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='') }}" type="image/xx-icon">
    <title>LW - Car & Motorcycle Rental</title>
    <!-- Google Fonts(OXYGEN)-->
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <!-- Import Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='') }}">
</head>

<body>
    <main>
        <header>
            <div class="general">
                <div class="logo-img">
                    <img src="#">  <!-- ADD LOGO LW HERE-->
                </div>
                <ul class="drop-menus">
                    <li class="cars">
                        <a class="cars-link">
                            Cars
                        </a>
                    </li>
                    <li class="Motorcycles">
                        <a class="motorcycles-link">
                            Motorcycles
                        </a>
                    </li>
                    <li class="about-us">
                        <a class="about-us-link">
                            About Us
                        </a>
                    </li>
                </ul>
                <div class="login-button">
                    <button class="login-button-link">
                        <span class="login-button-text">LOGIN</span>
                        <i class="login-button-icon">
                            <!-- ADD LOGIN SVG HERE -->
                        </i>
                    </button>
                </div>
            </div>
        </header>
        <footer>
            <div class="general-footer">
                <ul class="list-logo-footer">
                    <li class="list-logo-footer-item">
                        <img src="#"> <!-- ADD LOGO LW HERE INVERTER COLOR-->
                    </li>
                </ul>
                <div class="social-medias">
                    <ul class="social-medias-container">
                        <li class="social-media-item">
                            <a href="#" class="social-media-instagram">
                                <i class="icon-instagram">
                                    <!-- ADD INSTAGRAM SVG HERE -->
                                </i>
                            </a>
                        </li>
                        <li class="social-media-item">
                            <a href="#" class="social-media-linkedln">
                                <i class="icon-linkedln">
                                    <!-- ADD LINKEDLN SVG HERE -->
                                </i>
                            </a>
                        </li>
                        <li class="social-media-item">
                            <a href="#" class="social-media-github">
                                <i class="icon-github">
                                    <!-- ADD GITHUB SVG HERE -->
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>